<section class="hero is-fullheight">
  <div class="header has-text-centered">
    <div class="brand">
      <img src="/img/remindr logo.png" alt="main-logo" class="remindrLogo">
    </div>
    <h2 class="description has-text-centered">
      In order to create and save your own Remindrs, you must first create an account. The process is quick and painless, simply fill out the form bellow to create your new account. <br>Please ensure the input contact information is correct otherwise you will not receive your Remindr notification!
    </h2>
  </div>

  <div class="hero-body container">
    <div class="card pr-4 pl-4">
      <div class="card-content">

        <div class="field">
          <label class="label">First Name</label>
          <div class="control has-icons-left">
            <input required id="first-name" class="input" type="text" placeholder="First Name">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
          </div>
        </div>
                    
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control has-icons-left">
            <input required id="last-name" class="input" type="text" placeholder="Last Name">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input required id="email" class="input" type="email" placeholder="example@email.com">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
          </div>
          <p id="invalidEmail" class="help is-hidden is-danger is-size-6 has-text-weight-bold">Invalid email address</p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left">
            <input required id="password" class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
          </div>
          <p id="passLength" class="pass has-text-weight-bold">*Password must be 8 characters long</p>
          <p id="passLengthError" class="help is-hidden is-danger is-size-6 has-text-weight-bold">Password must be 8 characters long</p>
        </div>

        <div class="field">
          <label class="label">Confirm Password</label>
          <div class="control has-icons-left">
            <input required id="confirm-password" class="input" type="password" placeholder="Confirm Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
          </div>
          <p id="no-match" class="help is-danger is-hidden is-size-6 validate has-text-weight-bold">Passwords do not match</p>
        </div>

        <div class="field">
          <label class="label">Phone Number</label>
          <div class="control has-icons-left has-icons-right">
            <input required id="phone" class="input" type="text" placeholder="123-456-7890">
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Time Zone</label>
            <div class="control">
              <div class="select">
                <select id="time-zone">
                <option value="default">Select a Time Zone</option>
                  <option value="America/New_York">Eastern Time</option>
                  <option value="America/Chicago">Central Time</option>
                  <option value="America/Denver">Mountain Time</option>
                  <option value="America/Phoenix">Mountain Time(AZ)</option>
                  <option value="America/Los_Angeles">Pacific Time</option>
                </select>
              </div>
            </div>
        </div>

        <div class="control pt-5 pb-2 has-text-centered">
          <button id='create-button' class="button is-info is-rounded is-fullwidth">
            Create Account
          </button>
          <br>
          <button id='cancel' class="button is-info is-rounded is-fullwidth">
              Cancel
          </button>
        </div>

      </div>
    </div>
  </div>
</section>

<script src="/js/addUser.js"></script>